{% extends 'layout.html' %}
{% block content %}

  <div class="row" class="width: inherit; margin: 0 auto">
    <div style="margin: 70px auto; width: 250px">
      <img src="../img/snoo.png" alt="snoo" style="width: 100%;" />
    </div>
  </div>

  {% include '_oauth.html' %}
  {% include '_submit.html' %}
  {% include '_progress.html' %}

  <div style="text-align: center; margin-top: 20px;"><p><a href="http://blog.andyjiang.com/snoobear-easily-manage-multiple-reddit-submissions/">About</a></p></div>

{% endblock %}